.mainContainer {
  min-height: calc(100vh - 10rem);
  padding-top: 10rem;
  width: 100%;
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.section {
  margin-left: 10rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10rem 0 10rem;
  gap: 2rem;
}
.navElement {
  position: relative;
  display: flex;
  background-color: gray;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 20rem;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.navElement.active {
  transition-duration: 300ms;
  background-color: white;
  color: black;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.textContent {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.title {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 30rem;
  padding-top: 8rem;
}

.name {
  font-size: 4rem;
}
.description {
  font-size: 1.5rem;
}

.image {
  padding-top: 2.3rem;
}
